@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-800.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2') url('../fonts/open-sans-v34-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
        url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'),
        url('../fonts/open-sans-v34-latin-800italic.woff') format('woff');
}

:root {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

/* Page */
.page {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.page__inner {
    display: block;
    width: 100%;
}

.page__inner_intro {
    padding-top: 29px;
}

.page__inner_gray {
    background-color: #F6F2F2;
}

.page__inner_dark {
    background-color: #2C2C2C;
}

.page__inner_subscribe {
    margin: 0 auto;
    margin-top: 53px;
}

.page__inner_section {
    box-sizing: border-box;
    padding: 101px 1vw 110px;
}

.page__inner_dark-2 {
    background-color: #313030;
}

.page__header {
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    min-height: 89px;
    background-color: rgba(0, 0, 0, 0.8);
}

.site-menu {
    margin-left: -30px;
}

@media screen and (max-width:550px) {
    .site-menu {
        margin: 0;
    }
}

.site-menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width:550px) {
    .site-menu__list {
        justify-content: center;
    }
}

.site-menu__item {
    display: flex;
    min-height: 89px;
}

.site-menu__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 89px;
    padding: 38px 30px 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #E0E0E0;
    text-transform: uppercase;
    text-decoration: none;
}

.site-menu__link:hover {
    background-color: #FF3F40;
}

.site-menu__link_active {
    background-color: #FF3F40;
}

/* Main */
/* Intro */
.intro {
    max-width: 1249px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width:805px) and (max-width:1240px) {
    .intro {
        flex-wrap: nowrap;
    }
}

.intro__info {
    max-width: 595px;
}

@media screen and (max-width:1240px) {
    .intro__info {
        width: 50%;
    }
}

@media screen and (max-width:800px) {
    .intro__info {
        width: 100%;
        margin-bottom: 30px;
    }
}

.intro__heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: -15px 0 19px;
    color: #000000;

}

.intro__heading_special {
    letter-spacing: 6px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.intro__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin: 0 0 58px;
    color: #000000;

}

.action-link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    min-height: 55px;
    padding: 0.5em 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.88;
    text-decoration: none;
    border-radius: 5px;
}

.action-link_red {
    background-color: #FF2D2D;
    color: #ffff;
}

.intro__video {
    width: 552px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px 0px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width:1240px) {
    .intro__video {
        width: 50%
    }
}

@media screen and (max-width:800px) {
    .intro__video {
        width: 100%
    }
}

/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    margin: 107.5px auto 0;
    padding: 0 1vw 0;
    gap: 100px;
    border-bottom: 2px solid #ECECEC;
}

.services__info {
    max-width: 539px;
}

.services__heading {
    margin: -10px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.31;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    color: #000000;

}

.services__about {
    margin: 34.5px 0 56px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;

}

.action-link_white {
    color: #FF2D2D;
    border: 2px solid #FF0000;
    background-color: rgba(0, 0, 0, 0.0001);
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 13px;
    width: 610px;
}

.services__item {
    width: 285px;
    margin-bottom: 53px;
}

.services__item_icon_mang::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Management.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_design::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Design.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_logo::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Logo.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_anim::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Animation.svg);
    background-repeat: no-repeat;
    margin-bottom: 32px;
}

.services__title {
    margin: 0 0 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;

}

.services__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
    margin: 0;

}

/* Feature */
.feature {
    max-width: 1249px;
    margin: 0 auto;
    padding: 105px 1vw 68.5px;
}

.feature__header {
    margin-bottom: 88px;
    padding-left: 35px;
}

.feature__heading {
    margin: 0;
    margin-bottom: 15.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.feature__about {
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 28.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #000000;
}

.hor-line {
    width: 130px;
    height: 2px;
    background-color: #FF2D2D;
    border: none;
}

.hor-line_center {
    margin: 0 auto;
}

.hor-line_left {
    margin: 0;
    width: 134px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
    padding-left: 52px;
}

.filter__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 56px;
    justify-content: center;
}

.filter__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.09;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.filter__link_activ {
    color: #FF2D2D;
}

.filter__link:hover {
    color: #FF2D2D;
}

.feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.feature__product {
    object-fit: cover;
    width: 297px;
    height: 293px;
    flex: 1 1;
}

@media screen and (max-width: 1280px) {
    .feature__products {
        padding: 0 10px 0;
    }
    .filter {
        padding-left: 0;
        margin-bottom: 30px;
    }
    .filter__list {
        gap: 25px;
    }
    .feature__header {
        padding-left: 0;
        margin-bottom: 40px;
    }
}

/* Team */
.team {
    max-width: 1249px;
    margin: 0 auto;
    padding: 68.5px 1vw 53px;
    text-align: left;
}

.team__header {
    margin-bottom: 67px;
}

.team__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24.5px;
    text-transform: uppercase;
}

.team__about {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    margin: 0;
    margin-bottom: 33.5px;
    max-width: 450px;
}

.team__members {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 76px;
}

.team__inner {
    display: flex;
    flex-direction: column;
}

@supports (display: contents) {
    .team__inner {
        display: contents;
    }
}

@supports (grid-template-columns: subgrid) {
    .team__inner {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.team__lead-info {
    margin-bottom: 58px;
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 662px;
    padding-top: 10px;
}

.team__lead-photo {
    background-color: #FF3F40;
    object-fit: contain;
    object-position: bottom;
    grid-column: 1/2;
    grid-row: 1/3;
}

.team__lead-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.team__lead-about {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    margin: 0;
    margin-top: 20.5px;
    margin-bottom: 40px;
}

.team__lead-social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 401px;
    gap: 31px;
}

.team__lead-link {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    letter-spacing: 0.9px;
}

.team__lead-link:hover {
    text-decoration: underline;
}

.team__others {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    gap: 19px;
}

.team__other {
    position: relative;
}

.team__other-photo {
    display: block;
    background-color: #FF3F40;
    object-fit: contain;
    object-position: bottom;
}

.team__other-name {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
}

.team__other:hover>.team__other-name {
    display: block;
}

@media screen and (max-width: 1280px) {
    .team__members {
        grid-column-gap: 4vw;
    }
}

@media screen and (max-width: 800px) {
    .team__members {
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 1em;
    }
    .team__lead-photo {
        grid-row: auto;
    }
    .team__lead-about {
        margin-bottom: 20px;
    }
    .team__lead-info {
        grid-column: 1/2;
        grid-row: auto;
        margin-bottom: 20px;
    }
    .team__others {
        justify-content: center;
        grid-column: 1/2;
        grid-row: auto;
    }
}


/* subscribe */
.subscribe {
    max-width: 1249px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 140px;
}

.subscribe__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1.05px;
    color: #ffff;
    margin: 0 0 16px;
}

.subscribe__about {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    letter-spacing: 1.05px;
    color: #ffff;
    margin: 0 0 59px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;

}

.subscribe__email {
    box-sizing: border-box;
    width: 521px;
    height: 79px;
    border-radius: 5px;
    background-color: #ffff;
    padding: 0 36px;
    border: none;
}

.subscribe__button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.89;
    font-weight: 700;
    letter-spacing: 0.31px;
    text-transform: uppercase;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 79px;
    border-radius: 5px;
    border: none;
    background-color: #FF2D2D;
}

/* Get in touch */
.feedback {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 104px;
    padding-bottom: 107px;
}

.feedback__header {
    max-width: 1249px;
    margin: 0 auto;
    margin-bottom: 76px;
    box-sizing: border-box;
}

.feedback__inner {
    max-width: 752px;
}

.feedback__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 31.5px;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
}

.feedback__about {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    margin: 0;
    margin-bottom: 53.5px;
}

.feedback__body {
    display: grid;
    grid-template-columns: 1fr 731px 107px 411px 1fr;
    grid-template-rows: auto;
}

.feedback__body::after {
    content: '';
    background-color: #2D2D2D;
    grid-column: 5/6;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    width: 731px;
    grid-column: 2/3;
}

.feedback__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.88;
    color: #000000;
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    margin-right: 53px;
    margin-bottom: 46px;
}

.feedback__name::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.88;
    color: #000000;
}

.feedback__email {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.88;
    color: #000000;
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    margin-bottom: 46px;
}

.feedback__email::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.88;
    color: #000000;
}

.feedback__textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
    box-sizing: border-box;
    resize: none;
    width: 731px;
    height: 249px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 30px 51px;
    margin-bottom: 42px;
}

.feedback__textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
}

.feedback__button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.89;
    font-weight: 700;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    width: 731px;
    height: 75px;
    background-color: #FF3B3B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.feedback__contacts {
    color: #FFFFFF;
    background-color: #2D2D2D;
    grid-column: 4/5;
}

.contacts {
    box-sizing: border-box;
    width: 411px;
    padding: 134px 17px 139px 81px;
}

.contacts__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.89;
    font-weight: 700;
    letter-spacing: 0.317046px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 21px;
}

.contacts__address {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 21px;
}

.contacts__email {
    display: block;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-decoration: none;
    margin-bottom: 20px;
}

.contacts__tel {
    display: block;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    .feedback {
        padding: 0 1vw 0;
        padding-bottom: 42px;
    }

    .feedback__inner {
        margin: 0 auto;
        max-width: 725px;
    }

    .feedback__body {
        grid-template-columns: 1fr auto 1fr;
        row-gap: 42px;
    }

    .feedback__body::after {
        content: none;
    }

    .feedback__form {
        grid-column: 2/3;
    }

    .contacts {
        width: 100%;
    }

    .feedback__contacts {
        grid-column: 1/4;
    }
}

@media screen and (max-width: 790px) {
    .feedback__header {
        width: 100%;
    }

    .feedback__form {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }

    .feedback__name {
        width: 100%;
        margin-right: initial;
    }

    .feedback__email {
        width: 100%;
    }

    .feedback__textarea {
        width: 100%;
    }

    .feedback__button {
        width: 100%;
    }
}

/* Footer */
.footer {
    max-width: 1249px;
    min-height: 111px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 28px;
    box-sizing: border-box;
}

.footer__copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.62;
    color: #B8B8B8;
    margin: 0;
    margin-left: -11px;
}

.footer__social {
    display: flex;
    gap: 18.5px;
    margin-top: -8px;
    margin-right: 12px;
}

.footer__link {
    width: 33px;
    height: 33px;
}

.footer__img {
    width: 33px;
    height: 33px;
}